<h1>Surveys</h1>

<p>
  <a = href="/index">View all surveys</a>
</p>

<p>
  <a href="/users/surveys">View my surveys</a>
</p>

<p>
  <a href="/make_survey">Make my own own survey</a>
</p>

<footer>
  <% if session[:username] %>
    <p>Logged in as: <%= session[:username] %></p>
    <form action="/users/signout" method="post">
      <button type="submit">Sign out</button>
    </form>
  <% else %>
    <p><a href="/users/signup">Create a new account</a></p>
    <p><a href="/users/signin">Sign in</a></p>
  <% end %>
</footer>