<h1>Create a New Account</h1>

<form action="/users/signup" method="post">
  <div>
    <label for="username">Username:
      <input name="username"/>
    </label>
  </div>
  <div>
    <label for="password1">Password:
      <input type="password" name="password1"/>
    </label>
  </div>
    <div>
    <label for="password2">Confirm password:
      <input type="password" name="password2"/>
    </label>
  </div>
  <button type="submit">Sign up</button>
</form>

<!--enter username-->
<!--enter password-->
<!--confirm password-->

<!--Application:-->
<!--check for error-->
<!--  check if username is already taken-->
<!--  check if passwords match-->